.btn {
  background: #fff;
  color: var(--bg-color);
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  border-radius: 0.5rem;

  font: var(--fw-md) var(--fs-base)/1.5rem var(--ff-san);

  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(
    90deg,
    var(--brand-color-primary) 0%,
    var(--brand-color-secondary) 100%
  );
  color: var(--surface-color);
  background-clip: border-box;
}

.btn-sm {
  padding: .5rem 1rem;
  font-size: var(--fs-sm);
}
.btn-md {
  padding: .75rem 1.5rem;
  font-size: var(--fs-base);
}
.btn-lg {
  padding: 1rem 2rem;
  font-size: 1.125rem;
}

.btn[aria-label] {
  position: relative;
  &::before{
    content: "";
    position: absolute;
    background-color: var(--bg-color);
    inset: 1.5px;
    border-radius: inherit;

  }
  &::after {
    content: attr(aria-label);
    background: var(--btn-bg-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--text-color-primary);
    position: relative;
    z-index: 1;
  }
}
@media (width >= 80em) {
  .btn-sm {
    padding: .75rem 1.5rem;
    font-size: var(--fs-base);
   }
  .btn-md {
    padding: 1rem 2rem;
    font-size: var1.125rem;
   }
}
