#smartphones-img {
  margin-top: 5rem;
  background: url(assets/ilustration.bg.phone.svg) top/cover;
}

section {
  & header {
    & strong {
        display: block;
        font: var(--fw-md) var(--fs-sm)/100% var(--ff-sans);
        letter-spacing: 0.08rem;
        text-transform: uppercase;
        color: var(--brand-color-primary);
    }

    & h2 {
     margin-top: .5rem;
    }
  }

  & p {

  }
}

@media (width >= 80em) {
  #smartphones-img {
    display: none;
  }
}