a.social {
 --bg-img: "";
 background-image: var(--bg-img);
 width: 1.5rem;
 height: 1.5rem;
 display: block;
 -webkit-background-clip: initial;
 background-clip: initial;

 

&[aria-label="tiktok"] {
  --bg-img: url('../styles/assets/icons/tiktok.svg');

  &:hover {
    --bg-img: url('../styles/assets/icons/tiktok-hover.svg');
  }
}

&[aria-label="discord"] {
  --bg-img: url('../styles/assets/icons/discord.svg');

  &:hover {
    --bg-img: url('../styles/assets/icons/discord-hover.svg');
  }
}

&[aria-label="instagram"] {
  --bg-img: url('../styles/assets/icons/instagram.svg');

  &:hover {
    --bg-img: url('../styles/assets/icons/instagram-hover.svg');
  }
}

&[aria-label="twitter"] {
  --bg-img: url('../styles/assets/icons/twitter.svg');

  &:hover {
    --bg-img: url('../styles/assets/icons/twitter-hover.svg');
  }
}

}